<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments::header}"></head>

<body class="sidebar-mini layout-fixed" style="height: auto;">
<div class="wrapper">

    <!-- /.navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline" style="color: blue; font-size: 18px;">[[${user.fullname}]]</span>
                    <img class="img-profile rounded-circle" style="width:30px; height:30px"
                         src="/dist/img/user2-160x160.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside th:replace="~{fragmentNavbar::navbarOfAdmin}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 388.4px;">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mt-4">
                                <!--Thông báo lỗi-->
                                <div>
                                    <div th:if="${size == 0}" class="alert alert-warning text-center" role="alert">
                                        <p>Không tìm thấy kết quả</p>
                                    </div>

                                    <div th:if="${success}" class="alert alert-success text-center" role="alert">
                                        <p th:text="${success}"></p>
                                    </div>

                                    <div th:if="${error}" class="alert alert-danger text-center" role="alert">
                                        <p th:text="${error}"></p>
                                    </div>

                                    <div th:if="${totalElements > 0}" class="alert alert-info text-center" role="alert">
                                        <p class="pt-3">Tìm thấy <strong th:text="${totalElements}"></strong> danh mục</p>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <div class="row mt-3">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <form th:action="@{/search-category/0}" method="get">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Bạn tìm gì?"
                                                                       name="keyword" aria-label="Search"
                                                                       aria-describedby="search-addon"/>
                                                                <span class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-flat">Tìm</button>
                                                                    </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <!-- /.col-lg-6 -->
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group input-group-sm">
                                                                <span class="input-group-append">
                                                                        <button type="button" class="btn btn-info rounded"
                                                                                data-toggle="modal" data-target="#exampleModal"
                                                                                data-whatever="@mdo">
                                                                                Thêm Danh Mục
                                                                        </button>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <!-- /.col-lg-6 -->
                                        </div>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên</th>
                                                <th>Nhà cung cấp</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category : ${listCategory}">
                                            <td scope="row" th:text="${category.Id}"></td>
                                            <td th:text="${category.Name}"></td>
                                            <td th:text="${category.supplier.getName()}"></td>
                                            <td>
                                                <a id="editButton" th:href="@{/findByIdCategory/{id}(id=${category.id})}"
                                                   class="btn btn-info rounded"
                                                   data-toggle="modal" data-target="#editModal"
                                                   data-whatever="@mdo">
                                                Update</a>
                                                <a th:href="@{/status-category(id = ${category.id})}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination">
                                        <li th:if="${currentPage != 0}" class="page-item ">
                                            <a th:href="@{/search-category/{pageNo}(pageNo=${currentPage - 1}, keyword=${keyword})}" class="page-link">Previous</a>
                                        </li>

                                        <th:block th:if="${totalPages > 1}">
                                            <li th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                                                th:classappend="${currentPage == i ? 'active' : ''}" class="page-item">
                                                <a th:href="@{/search-category/{pageNo}(pageNo=${i}, keyword=${keyword})}" class="page-link">
                                                    <span th:text="${i + 1}"></span>
                                                </a>
                                            </li>
                                        </th:block>

                                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                            <a th:href="@{/search-category/{pageNo}(pageNo=${currentPage + 1},
                                 keyword=${keyword})}" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>



                            </div>
                            <!-- /.card -->
                        </div>

                    </div>

            </div><!-- /.container-fluid -->
            </div>
        </section>

        <!-- /.content -->
    </div>
</div>

<!--Add Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form id="categoryForm" th:action="@{/add-category}" method="post" th:object="${categoryNew}" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleAddCategoryModalLabel">New Category</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" th:field="*{name}" id="recipient-name" name="name"
                                   required>
                            <div id="nameError" style="color: red" class="error-message"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="supplier"> Nhà cung cấp</label>
                        <div class="col-md-8">
                            <select id="supplier" th:field="*{supplier}" name="supplier" class="form-control">
                                <option th:each="supplier : ${listSuppliers}"
                                        th:value="${supplier.Id}"
                                        th:text="${supplier.Name}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="saveCategory(event)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
            </div>
            <div class="modal-body">
                <form id="categoryFormEdit" th:action="@{/update-category}" method="put" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">ID</label>
                        <input type="text"  class="form-control" id="idEdit" name="id" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Loại </label>
                        <input type="text" class="form-control" id="nameEdit" name="name" required>
                        <div id="nameEditError" style="color: red" class="error-message"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-8 control-label" for="supplierEdit"> Nhà Cung Cấp</label>
                        <div class="col-md-8">
                            <select id="supplierEdit" name="supplier" class="form-control">
                                <option th:each="supplier : ${listSuppliers}"
                                        th:value="${supplier.Id}"
                                        th:text="${supplier.Name}"
                                ></option>
                            </select>
                        </div>
                        <div id="supplierEditError" style="color: red" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="saveCategoryEdit(event)">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments::script}"></div>
</body>

</html>

<script>
    function logout() {
        window.location.href = '/logout';
    }

    $('document').ready(function (){
        $('table #editButton').on('click', function (event){
        event.preventDefault();
        var href = $(this).attr('href');
        $.ajax({
            url: href,
            type: 'GET',
            success: function (category, status) {
                $('#idEdit').val(category.id);
                $('#nameEdit').val(category.name);
                $('#supplierEdit').val(category.supplier);
                $('#editModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
});

function saveCategory(event) {
  event.preventDefault();
  var name = document.getElementById("recipient-name").value;

  document.getElementById('nameError').innerHTML = '';
  if (name === '') {
        document.getElementById('nameError').innerHTML = 'Vui lòng nhập Danh Mục';
        return;
    }
   document.getElementById("categoryForm").submit();
}

function saveCategoryEdit(event) {
  event.preventDefault();
  var name = document.getElementById("nameEdit").value;
  var supplier = document.getElementById("supplierEdit").value;
  document.getElementById('nameEditError').innerHTML = '';
  if (name === '') {
        document.getElementById('nameEditError').innerHTML = 'Vui lòng nhập Danh Mục';
        return;
    }
     if (supplier === '') {
        document.getElementById('supplierEditError').innerHTML = 'Vui lòng chọn nhà cung cấp';
        return;
    }
   document.getElementById("categoryFormEdit").submit();
}
</script>