<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragmentsOfUser::head}"></head>
<head>

    <style>
        .list-group-item+.list-group-item {
            border-top-width: 1px !important;
        }
    </style>
</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Navbar -->
<header th:replace="~{fragmentsOfUser::navbarNoCart}"></header>

<!-- Start content -->
<div class="container">
    <main>
        <div class="row g-4 py-5">
            <div class="col-md-7 col-lg-8 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Giỏ hàng</span>
                    <span class="badge bg-primary rounded-pill" th:text="${size}"></span>
                </h4>
                <ul class="list-group mb-3 border-bottom">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0"> Danh sách sản phẩm</h6>
                        </div>
                        <span class="my-0">Thành tiền</span>
                    </li>
                    <li th:each="object : ${listCartDetail}" class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0" th:text="${object.product.name}"></h6>
                            <span th:with="discountedPrice=${object.product.price - (object.product.price * object.product.discount / 100)}">
                                        <small style="color:red; font-weight:bold;" th:text="'Đơn giá: '+${#numbers.formatDecimal(discountedPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'"></small>
                                    </span>
                            <br>
                            <small class="text-body-secondary" th:text="'Số lượng: '+${object.quantity}"></small>
                        </div>
                        <span th:with="totalPrice=${(object.product.price - (object.product.price * object.product.discount / 100))*object.quantity}">
                                    <span style="color:red; font-weight:bold" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                                    </span>
<!--                        <span class="text-body-secondary" th:text="${object.product.price}"></span>-->
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-success">
                            <h6 class="my-0">Thông tin khuyến mãi</h6>
                            <span><small style="color:red; font-weight:bold;" th:text="'Mã khuyến mãi: ' + ${promo}" th:value="${promo}"></small></span><br>
                            <small style="color:gray; font-weight:bold;" th:text="'Trạng thái: ' + ${status}"></small>
                        </div>
                        <span class="text-success" th:text="'- ' + ${promoPrice} + ' đ'"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tổng tiền (VND)</span>
                        <strong th:text="${totalPrice} + ' đ'"></strong>
                    </li>
                </ul>

                <form action="/checkout" class="card p-2" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="promo" placeholder="Mã khuyến mãi">
                        <button type="submit" class="btn btn-secondary">Nhập mã</button>
                    </div>
                </form>

            </div>
            <div class="col-md-5 col-lg-4">
                <h4 class="mb-3">Thông tin hóa đơn</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="firstName" class="form-label">Họ và tên đầy đủ</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" th:value="${name}" required=""  style="padding: 8px; padding-left:16px" readonly>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="" th:value="${email}" style="padding: 8px; padding-left:16px" readonly>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Địa chỉ nhận hàng</label>
                            <input type="text" class="form-control" id="address" th:value="${address}" placeholder="" required="" style="padding: 8px; padding-left:16px">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                    </div>


                    <hr class="my-4">

                    <h4 class="mb-3">Phương thức thanh toán</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                            <label class="form-check-label" for="credit">Thanh toán qua VNPay</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                            <label class="form-check-label" for="debit">Thanh toán khi nhận hàng</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Xác nhận thanh toán</button>
                </form>
            </div>
        </div>
    </main>
</div>
<!-- End content -->

<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="index.html"><img src="/eshop/images/logo2.png" alt="#"></a>
                        </div>
                        <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                        <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>NO. 342 - London Oxford Street.</li>
                                <li>012 United Kingdom.</li>
                                <li>info@eshop.com</li>
                                <li>+032 3456 7890</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-flickr"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->


<!-- Jquery -->
<script th:src="@{~/eshop/js/jquery.min.js}"></script>
<script th:src="@{~/eshop/js/jquery-migrate-3.0.0.js}"></script>
<script th:src="@{~/eshop/js/jquery-ui.min.js}"></script>
<!-- Popper JS -->
<script th:src="@{~/eshop/js/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{~/eshop/js/bootstrap.min.js}"></script>
<!-- Color JS -->
<!--    <script th:src="@{~/eshop/js/colors.js}"></script>-->
<!-- Slicknav JS -->
<script th:src="@{~/eshop/js/slicknav.min.js}"></script>
<!-- Owl Carousel JS -->
<script th:src="@{~/eshop/js/owl-carousel.js}"></script>
<!-- Magnific Popup JS -->
<script th:src="@{~/eshop/js/magnific-popup.js}"></script>
<!-- Fancybox JS -->
<script th:src="@{~/eshop/js/facnybox.min.js}"></script>
<!-- Waypoints JS -->
<script th:src="@{~/eshop/js/waypoints.min.js}"></script>
<!-- Countdown JS -->
<script th:src="@{~/eshop/js/finalcountdown.min.js}"></script>
<!-- Nice Select JS -->
<script th:src="@{~/eshop/js/nicesellect.js}"></script>
<!-- Ytplayer JS -->
<script th:src="@{~/eshop/js/ytplayer.min.js}"></script>
<!-- Flex Slider JS -->
<script th:src="@{~/eshop/js/flex-slider.js}"></script>
<!-- ScrollUp JS -->
<script th:src="@{~/eshop/js/scrollup.js}"></script>
<!-- Onepage Nav JS -->
<script th:src="@{~/eshop/js/onepage-nav.min.js}"></script>
<!-- Easing JS -->
<script th:src="@{~/eshop/js/easing.js}"></script>
<!-- Active JS -->
<script th:src="@{~/eshop/js/active.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>