<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{indexUser::header}">
</head>
<body>


<nav th:replace="~{indexUser::navigation}"></nav>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/indexCustomer}">Trang chủ</a></li>
                    <li>CHI TIẾT KHUYẾN MÃI</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <h2 th:text=${coupon.description}>
            </h2>
            <span style="background-color:#FE316C; margin: 20px 0px" class="badge badge-pill badge-success">Khuyến mãi</span>
        </div>
        <div class="row">
            <p>Mã coupon: <span style="font-style:italic; color:red"  th:text=${coupon.code}></span> </p>
            <p>Còn lại: <span style="font-style:italic; color:red"  th:text=${coupon.count}></span> </p>
            <p>Bạn chỉ cần nhập mã coupon trên vào mục ÁP DỤNG COUPON khi thanh toán</p>
            <p >Lưu ý: <span style="font-style:italic; color:red">Mỗi mã coupon chỉ sử dụng được 1 lần</span></p>
        </div>
        <div class="row">
            <img style="border-radius: 30px;margin: 20px 0px;width:1000px; height:600px" th:src="@{../img/BANNER_COUPON.jpg}" alt="Alternate Text" />

        </div>
    </div>
</div>

<footer th:replace="~{index::footer}"></footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/site.js"></script>
<script src="/js/cart.js"></script>
<script>
    var siteController = new SiteController();
    siteController.initialize();
</script>
</body>
</html>