<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments::header}"></head>

<body class="sidebar-mini layout-fixed" style="height: auto;">
<div class="wrapper">

    <!-- /.navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Messages Dropdown Menu -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;Thoát
                </a>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside th:replace="~{fragments::sidebar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 388.4px;">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mt-4">
                                <!--Thông báo lỗi-->
                                <div>
                                    <div th:if="${size == 0}" class="alert alert-warning text-center" role="alert">
                                        <p>Không tìm thấy kết quả</p>
                                    </div>

                                    <div th:if="${success}" class="alert alert-success text-center" role="alert">
                                        <p th:text="${success}"></p>
                                    </div>

                                    <div th:if="${error}" class="alert alert-danger text-center" role="alert">
                                        <p th:text="${error}"></p>
                                    </div>

                                    <div th:if="${totalElements > 0}" class="alert alert-info text-center" role="alert">
                                        <p class="pt-3">Tìm thấy <strong th:text="${totalElements}"></strong> danh mục</p>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <div class="row mt-3">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <form th:action="@{/search-employee/0}" method="get">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Bạn tìm gì?"
                                                                       name="keyword" aria-label="Search"
                                                                       aria-describedby="search-addon"/>
                                                                <span class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-flat">Tìm</button>
                                                                    </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <!-- /.col-lg-6 -->
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group input-group-sm">
                                                                <span class="input-group-append">
                                                                        <button type="button" class="btn btn-info rounded"
                                                                                data-toggle="modal" data-target="#addModal"
                                                                                data-whatever="@mdo">
                                                                                Thêm sản phẩm
                                                                        </button>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <!-- /.col-lg-6 -->
                                        </div>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>PhoneNumber</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employee : ${listEmployee}">
                                            <td th:text="${employee.id}"></td>
                                            <td th:text="${employee.name}"></td>
                                            <td th:text="${employee.phoneNumber}"></td>
                                            <td th:text="${employee.address}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <td th:text="${employee.salary}"></td>
                                            <td>
                                                <a id="editButton" th:href="@{/findByIdEmployee/{id}(id=${employee.Id})}" class="btn btn-primary">Update</a>
                                                <a th:href="@{/status-employee(id = ${employee.id})}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li th:if="${currentPage != 0}" class="page-item ">
                                                <a th:href="@{'/employee/' + ${currentPage - 1}}" class="page-link">Previous</a>
                                            </li>
                                            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                                                th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                                                <a th:href="@{'/employee/' + ${i - 1}}" class="page-link" href="#">
                                                 <span th:text="${i}">
                                                 </span></a></li>
                                            <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                                <a th:href="@{'/employee/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>


                            </div>
                            <!-- /.card -->
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div><!-- Small boxes (Stat box) -->

                <!-- /.row -->
                <!-- Main row -->

                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<div th:replace="~{fragments::script}"></div>
</body>

</html>