<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body class="login-page" style="min-height: 464px;">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">

        </div>

        <div class="card-body">
            <p class="login-box-msg" style="font-size: 19px; font-weight: bold;">Sign in to start your session</p>
            <div class="login-box-msg" style="color:red" th:if="${param.error}">
                Lỗi Đăng Nhập !!!
                </br>
                Sai thông tin đăng nhập hoặc tài khoản đã bị khóa !

            </div>

            <div class="login-box-msg" th:if="${param.logout}">
                Logout Successfully !
            </div>
            <form  th:action="@{/login}" method="post">
                <div class="input-group mb-3">
                    <input  type="email" class="form-control" id="username" name="username" placeholder="Enter your email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input  type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="remember" th:checked="${remember}">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </form>


            <!-- /.social-auth-links -->

            <p class="mb-1">
                <span>  <a th:href="@{/password-request}"><For></For>Forgot Password?</a></span>
            </p>
            <p class="mb-0">
                <span>  <a th:href="@{/register}">Register a new membership</a></span>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<div th:replace="~{fragments::script}"></div>



</body></html>