<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments::header}"></head>

<body class="sidebar-mini layout-fixed" style="height: auto;">
<div class="wrapper">

    <!-- /.navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline" style="color: blue; font-size: 18px;">[[${user.fullname}]]</span>
                    <img class="img-profile rounded-circle" style="width:30px; height:30px"
                         src="/dist/img/user2-160x160.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside th:replace="~{fragments::sidebar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 388.4px;">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mt-4">
                                <!--Thông báo lỗi-->
                                <div>
                                    <div th:if="${size == 0}" class="alert alert-warning text-center" role="alert">
                                        <p>Không tìm thấy kết quả</p>
                                    </div>

                                    <div th:if="${success}" class="alert alert-success text-center" role="alert">
                                        <p th:text="${success}"></p>
                                    </div>

                                    <div th:if="${error}" class="alert alert-danger text-center" role="alert">
                                        <p th:text="${error}"></p>
                                    </div>

                                    <div th:if="${totalElements > 0}" class="alert alert-info text-center" role="alert">
                                        <p class="pt-3">Tìm thấy <strong th:text="${totalElements}"></strong> danh mục</p>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <div class="row mt-3">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <form th:action="@{/search-products/0}" method="get">
                                                            <div class="input-group input-group-sm" style="width:150px">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Bạn tìm gì?"
                                                                       name="keyword" aria-label="Search"
                                                                       aria-describedby="search-addon"/>
                                                                <span class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-flat">Tìm</button>
                                                                    </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <!-- /.col-lg-6 -->
<!--                                            <div class="col-lg-6">-->
<!--                                                <div class="input-group">-->
<!--                                                    <div class="input-group-prepend">-->
<!--                                                        <div class="input-group input-group-sm">-->

<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; /input-group &ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
                                        </div>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                        <tr style="text-align: center; vertical-align: middle;">
                                            <th>ID</th>
                                            <th>Khách Hàng</th>
                                            <th>Ngày Đặt Hàng</th>
                                            <th>Trạng Thái Đơn Hàng</th>
                                            <th>Tổng Tiền</th>
                                            <th>Nhân Viên Xác Nhận</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr style="text-align: center; vertical-align: middle;" th:each="orders : ${listOrder}">
                                            <td th:text="${orders.Id}"></td>
                                            <td th:text="${orders.customer.getId() + ' _ ' + orders.customer.getName()}"></td>


                                            <td th:text="${#strings.substring(orders.orderDate, 0, 10)}"></td>

                                            <td th:text="${(orders.Status == 1 ? 'Chờ xác nhận' : (orders.Status == 2 ? 'Đã xác nhận' : 'Đã hủy đơn'))}"
                                                th:style="${orders.Status == 0 ? 'color: red; font-weight: bold' : (orders.Status == 1 ? 'color: blue; font-weight: bold' : 'font-weight: bold')}">
                                            </td>

                                            <td th:text="${#numbers.formatDecimal(orders.total, 0, 'COMMA', 0, 'POINT') + '&nbsp;VND'}"></td>

                                            <td  th:text="${orders.employee != null ? orders.employee.getId() + ' _ ' + orders.employee.getName() : ''}"></td>

                                            <td style="text-align: center; vertical-align: middle;">
<!--                                                <a th:if="${orders.Status == '1'}" id="confirmButton"  class="btn btn-primary">Xác Nhận</a>-->
                                                <a th:if="${orders.Status == 1}" id="confirmButton" th:href="@{/findByEmailEmployee/{email}/{orderId}(email=${user.email},orderId=${orders.Id})}"
                                                        type="button" class="btn btn-primary"
                                                        data-toggle="modal" data-target="#editModal"
                                                        data-whatever="@mdo">
                                                    Xác Nhận
                                                </a>

<!--                                                <a th:if="${orders.Status == 1 || orders.Status == 2}"-->
<!--                                                   th:href="@{/cancelOrder(id = ${orders.Id})}"-->
<!--                                                   id="cancelButton"-->
<!--                                                   class="btn btn-danger">Hủy Đơn-->
<!--                                                </a>-->

                                                <a th:if="${orders.Status == 1 || orders.Status == 2}" id="cancelButton"
                                                   type="button" class="btn btn-danger"
                                                   data-toggle="modal" data-target="#ConfirmCancelModal"
                                                   th:data-orderid="${orders.Id}"
                                                   data-whatever="@mdo">
                                                    Hủy Đơn
                                                </a>

                                                <a id="detailButton"
                                                   th:href="@{/detail-order/{id}(id=${orders.Id})}"
                                                   class="btn btn-success">Detail
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination">
                                        <li th:if="${currentPage != 0}" class="page-item ">
                                            <a th:href="@{/search-order/{pageNo}(pageNo=${currentPage - 1}, keyword=${keyword})}" class="page-link">Previous</a>
                                        </li>

                                        <th:block th:if="${totalPages > 1}">
                                            <li th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                                                th:classappend="${currentPage == i ? 'active' : ''}" class="page-item">
                                                <a th:href="@{/search-order/{pageNo}(pageNo=${i}, keyword=${keyword})}" class="page-link">
                                                    <span th:text="${i + 1}"></span>
                                                </a>
                                            </li>
                                        </th:block>

                                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                            <a th:href="@{/search-order/{pageNo}(pageNo=${currentPage + 1},
                                 keyword=${keyword})}" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                            <!-- /.card -->
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div><!-- Small boxes (Stat box) -->

                <!-- /.row -->
                <!-- Main row -->

                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>

<!--Confirm Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác Nhận Đơn Hàng</h5>
            </div>
            <div class="modal-body">
                <form id="ordersFormEdit" th:action="@{/update-orders}" method="put" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="idOrder" class="col-form-label">Mã Đơn Hàng</label>
                        <input type="text"  class="form-control" id="idOrder" name="id" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">Mã Nhân Viên</label>
                        <input type="text"  class="form-control" id="idEdit" name="employee" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Tên Nhân Viên Xác Nhận</label>
                        <input type="text" class="form-control" id="nameEdit" name="nameEmployee" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="nameShipperEdit" class="col-form-label">Tên Nhân Viên Giao Hàng </label>
                        <input type="text" class="form-control" id="nameShipperEdit" name="ShipName"  required>
                        <div id="nameShipperEditError" style="color: red" class="error-message"></div>
                    </div>

                    <div class="form-group">
                        <label for="phoneShipperEdit" class="col-form-label">SĐT Nhân Viên Giao Hàng </label>
                        <input type="text" class="form-control" id="phoneShipperEdit" name="ShipPhoneNumber"  required>
                        <div id="phoneShipperEditError" style="color: red" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="saveOrdersEdit(event)">Xác Nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="ConfirmCancelModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận hủy đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn hủy đơn hàng?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-danger" onclick="cancelOrder()">Hủy đơn hàng</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments::script}"></div>
</body>

</html>

<script>
    function logout() {
        window.location.href = '/logout';
    }

<!--    $('document').ready(function (){-->
<!--        $('table #confirmButton').on('click', function (event){-->
<!--        event.preventDefault();-->
<!--        $('#editModal').modal('show');-->

<!--        });-->
<!--    });-->

 $('document').ready(function (){
        $('table #confirmButton').on('click', function (event){
        event.preventDefault();
        var href = $(this).attr('href');
        $.ajax({
            url: href,
            type: 'GET',
            success: function (confirmRespone, status) {
                 $('#idOrder').val(confirmRespone.orderId);
                $('#idEdit').val(confirmRespone.employee.id);
                $('#nameEdit').val(confirmRespone.employee.name);

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
});

  function confirmOrder(event) {
  event.preventDefault();
  var name = document.getElementById("nameShipperEdit").value;
  var phone = document.getElementById("phoneShipperEdit").value;


  document.getElementById('nameShipperEditError').innerHTML = '';
  document.getElementById('phoneShipperEditError').innerHTML = '';

  if (name === "") {
    document.getElementById('nameEditError').innerHTML = 'Vui lòng nhập tên shipper';
    return;
  }
  if (phone === "") {
   document.getElementById('phoneNumberEditError').innerHTML = 'Vui lòng nhập SĐT của Shipper';
    return;
  }

    if(!validatePhoneNumber(phone)){
        document.getElementById('phoneNumberEditError').innerHTML = 'Vui lòng nhập đúng định dạng SĐT';
        return;
    }


   document.getElementById("ordersFormEdit").submit();
}

    function cancelOrder() {
        var cancelButton = document.getElementById("cancelButton");
        var orderId = cancelButton.getAttribute("data-orderid");
        var cancelUrl = "/cancelOrder?id=" + orderId;
        window.location.href = cancelUrl;
    }
</script>