<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Registration Form</title>-->
<!--     <link rel="stylesheet" th:href="@{../css/style1.css}">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="container">-->
<!--        <div class="message" th:if="${message != null}">-->
<!--           [[${message}]]-->
<!--        </div>-->
<!--        <h2>Registration Form</h2>-->
<!--        <form -->
<!--         th:action="@{/registration}"-->
<!--         method="post"-->
<!--         role="form"-->
<!--         th:object="${user}"-->
<!--        >-->
<!--            <div class="form-group">-->
<!--                <label for="fullname">Fullname:</label>-->
<!--                <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required>-->
<!--            </div>-->
<!--            -->
<!--            <div class="form-group">-->
<!--                <label for="email">Email:</label>-->
<!--                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>-->
<!--            </div>-->
<!--            -->
<!--            <div class="form-group">-->
<!--                <label for="password">Password:</label>-->
<!--                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>-->
<!--            </div>-->
<!--            <input type="submit" value="Register">-->
<!--        </form>-->
<!--        -->
<!--    </div>-->
<!--</body>-->
<!--</html>-->




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}"></head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="card card-outline card-primary">

        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Register Form</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>

            <div class="login-box-msg" style="color:red" th:if="${userexist != null}">
                [[${userexist.getEmail()}]] đã tồn tại !
            </div>
            <form  th:action="@{/register}"
                   method="post"
                   role="form"
                   th:object="${user}"
                   onsubmit="return validatePassword()">
                <div class="input-group mb-3">
                    <input th:field="*{fullname}" type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your fullname" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input th:field="*{email}" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Retype your password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>


            <a href="/login" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<div th:replace="~{fragments::script}"></div>


<script>

    function validatePassword () {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password !== confirmPassword){
            alert("Password do not match");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
